apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: xvdt
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-gdbc-tenant/byoc-app-bclg/xvdt@sha256:c0db5e4e5b81372c7f5f04f96ae31e383987bc9f56389aee367688483c1d7fb7
        name: my-java-quarkus
        resources: {}
status: {}
